
# Node.js dependencies
node_modules/
npm-debug.log

# Environment variables
.env

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Logs and cache
logs/
*.log
yarn.lock

# Build files
dist/
build/

# IDE/editor files
.vscode/
.idea/
*.iml
.DS_Store
